.products-page{
    margin-top: 40px;
}


.product-top{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 40px;
    background-color: #eee;
    margin-bottom: 30px;
    justify-content: space-between;
}
.actions{
    display: flex;
    align-items: center;
}
.icons{
    display: flex;
    gap: 10px;
    color:var(--primary-color);
    margin-right: 20px;
}
.icons *{
    background-color: #ccc;
    border-radius: 3px;
    padding: 3px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.sort{
    display: flex;
    align-items: center;
    gap: 15px;
}
.select{
    box-shadow: none !important;
    border-color: var(--primary-color) !important;
    text-transform: capitalize;
}
@media(max-width:992px){
    .product-top{
        flex-direction: column;
    }
   
}