.product-filter{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;    padding: 10px;
    margin-bottom: 20px;
    height: 700px;
    overflow-y: scroll;
    background-color: #eee;
}
.product-filter::-webkit-scrollbar-thumb  {
    background: var(--primary-color) !important;
  }
.categories,.brand{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.categories button,.brand button{
    padding: 10px ;
    background-color: #eee;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}
.active{
    color:var(--primary-color) !important;
}
.filter-head{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.btn{
    background-color: var(--primary-color);
    color:#fff;
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}