.navbar {
    border-radius: 5px;
    background-color: var(--primary-color);
    padding: 20px;
    margin-bottom: 30px;
}

.navbar li {
    font-weight: 500;
    line-height: 50px;
}

.navbar li a.active {
    color: #333;
}