.single-product-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: 1px solid #333;
    color: #333;
    border-radius: 3px;
    padding: 10px;
}
.product{
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid #333;
    color: #333;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.img{
    width: 200px;
}