.cart-wrapper {
    width: 100%;
    overflow-x: auto;
}

.cart-table {
    width: 100%;
    margin: 50px 0;
    max-width: 100%;
}

tr,
td {
    vertical-align: middle;
    text-align: center;
}

.img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.subtotal {
    max-width: 300px;
    margin-left: auto;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: .5px;
    justify-content: center;
}

.counter button {
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    margin: 0 5px;
}
.cart-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e1e1e1;
    padding: 10px;
    margin: 20px 0;
}
.cart-footer *{
    width: 200px;
    height: 50px;
    background-color: var(--color-menu-act);
    color: #fff;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}
.remove *{
    cursor: pointer;
}
.remove *:hover{
 transform: scale(1.02);
 opacity: 0.9;
}