.search-content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 1px solid #ececec;
   height: 42px;
   border-radius: 3px;
   background-color: #fafafa;
   padding: 0 15px;
}
.search-input{
    color: #777;
    font-size: 14px;
}







/* 
.search-wrapper {
    max-width: 290px;
    position: relative;
    background-color: red;
}

.search-input {
    width: 100%;
    padding: 0;
    height: 50px;
    font-size: 11px;
    color: var(--color-body-text);
    background-color: white;
    border-radius: 3px;
    position: relative;
    padding-left: 20px;
    padding-right: 50px;
}

.search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    z-index: 9;
    cursor: pointer;
    background-color: var(--theme-color-primary);
    transition: all .2s;
    color: white;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 3px;
} */
