.search-content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 1px solid #ececec;
   height: 42px;
   border-radius: 3px;
   background-color: #fafafa;
   padding: 0 15px;
}
.search-input{
    color: #777;
    font-size: 14px;
}
