:root{
    --font-family-primary:  'Nunito', sans-serif;
    --brightness: 0.0;
    --font-size-base: 1.3rem;
    --bg-body: #000000;
    --theme-color-default: #dd5621;
    --theme-color-primary: #000000;
    --theme-color-default-rgb: 221, 86, 33;
    --theme-color-primary-rgb: 0, 0, 0;
    --color-heading: #222222;
    --color-heading-rgb: 34, 34, 34;
    --color-heading-second: #222222;
    --color-heading-second-rgb: 34, 34, 34;
    --color-heading-sub: #acacac;
    --color-menu: #ffffff;
    --color-menu-act: #dd5621;
    --color-menu-sticky: #fff;
    --color-menu-sticky-act: #dd5621;
    --color-sub-menu: #505157;
    --color-title-megamenu: #222222;
    --color-body-text: #505157;
    --color-body-text-rgb: 80, 81, 87;
    --color-button: #e9ebeb;
    --color-button-hover: #dd5621;
    --color-button-text: #222222;
    --color-button-text-hover: #fff;
    --transition-drawer: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
    --color-border: #e7e8eb;
    --color-border-rgb: 231, 232, 235;
    --color-border-second: #d0d3d7;
    --border-radius-product-image: 0px;
    --color-product-item: rgba(0,0,0,0);
    --color-product-name: #222222;
    --color-product-name-rgb: 34, 34, 34;
    --color-price: #dd5621;
    --color-reduced-price: #909090;
    --bg-product-icon: #ffffff;
    --color-product-border: #232323;
    --color-product-icon: #727272;
    --color-product-icon-rgb: 114, 114, 114;
    --color-product-count: #a3a3a3;
    --color-badge-new: #7eca4e;
    --color-badge-sale: #bbffbb;
    --color-breacrumb-heading-default: #0d2235;
    --color-breacrumb-text-default: #505157;
    --bg-breacrumb-default: #ffffff;
    --spacing-breacrumb-df-t: 23px;
    --spacing-breacrumb-df-b: 23px;
    --color-breacrumb-collec: #ffffff;
    --spacing-breacrumb-collec-t: 147px;
    --spacing-breacrumb-collec-b: 147px;
    --spacing-breacrumb-inner-t: 85px;
    --spacing-breacrumb-inner-b: 90px;
}